:root {
  --primary: #0d0d0d;
  --secondary: #dfe3ee;
}

.navbar_main {
  background-color: var(--primary) !important;
}

.logo__clickable {
  height: 50px !important;
  cursor: pointer;
}

.logo__nonClickable {
  height: 50px !important;
}

.navbar__autocomplete {
  width: 100% !important;
  background-color: var(--secondary) !important;
}

.cart {
  cursor: pointer;
}

.login__btn,
.cart__btn {
  text-align: center;
  color: var(--secondary) !important;
  text-transform: none !important;
}

.login__btn:hover,
.cart__btn:hover {
  border: 1px solid var(--secondary) !important;
}

.login__form {
  display: inline-block !important;
  padding: 30px 50px 30px 50px;
  width: 30% !important;
  text-align: start !important;
}

.login__textFields {
  width: 100% !important;
}

.btn__primary {
  color: var(--secondary) !important;
  background-color: var(--primary) !important;
}

.btn__secondary {
  color: var(--primary) !important;
  background-color: var(--secondary) !important;
}

.home{
  margin-top: 100px;
}